In [6]:
str="hansi"
h=str.replace("h","w")
print(h)

wansi

In [29]:
import pandas as pd
import numpy as np
data_set=pd.read_csv("billionaire.csv")
data_set.head()
data_set.columns
data_set.isnull()
print(data_set.isnull().sum())
type(data_set)
data_set["gender"].unique()
#find how to find the sum of unique elements
#print(data_set.dropna())
#print(data_set.dropna(axis=1))
data_set.dropna(thresh=1)
data_set["age"].fillna(value=100)
m=data_set["age"].mean()
data_set.fillna(value=m)

data_set.drop("age",axis=1)l

Unnamed: 0                    0
name                          0
last_name                 10850
age                           0
gender                    11892
time                          0
permanent_country         47691
company                   25500
main_industry                 0
wealth_source_details     10922
industry                     49
state                    193179
headquarters             218714
countries                     0
annual_income                 0
daily_income                  0
birth_year                    0
name_cleaned                  0
dtype: int64

,Unnamed: 0,name,last_name,gender,time,permanent_country,company,main_industry,wealth_source_details,industry,state,headquarters,countries,annual_income,daily_income,birth_year,name_cleaned
0,675,Abdulla bin Ahmad Al Ghurair,Al Ghurair,M,2013,United Arab Emirates-Dubai,Mashreq Bank,Diversified,diversified,Diversified;Banking,NaN,NaN,are,95604000,261928,1955,abdulla_bin_ahmad_al_ghurair
1,676,Abdulla bin Ahmad Al Ghurair,Al Ghurair,M,2013,United Arab Emirates-Dubai,Mashreq Bank,Diversified,diversified,Diversified;Banking,NaN,NaN,are,95604000,399254,1955,abdulla_bin_ahmad_al_ghurair
2,677,Abdulla bin Ahmad Al Ghurair,Al Ghurair,M,2013,United Arab Emirates-Dubai,Mashreq Bank,Diversified,diversified,Diversified;Banking,NaN,NaN,are,95604000,536021,1955,abdulla_bin_ahmad_al_ghurair
3,678,Abdulla bin Ahmad Al Ghurair,Al Ghurair,M,2013,United Arab Emirates-Dubai,Mashreq Bank,Diversified,diversified,Diversified;Banking,NaN,NaN,are,95604000,410391,1955,abdulla_bin_ahmad_al_ghurair
4,679,Abdulla bin Ahmad Al Ghurair,Al Ghurair,M,2013,United Arab Emirates-Dubai,Mashreq Bank,Diversified,diversified,Diversified;Banking,NaN,NaN,are,95604000,558904,1955,abdulla_bin_ahmad_al_ghurair
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352364,358313,Zygmunt Solorz-Zak,Solorz-Zak,M,2022,Poland-Warsaw,Cyfrowy Polsat,Media & Entertainment,TV broadcasting; TV station,Media & Entertainment; Media;Media;Entertainment,NaN,NaN,pol,74820000,219780,1957,zygmunt_solorz_zak
352365,358314,Zygmunt Solorz-Zak,Solorz-Zak,M,2022,Poland-Warsaw,Cyfrowy Polsat,Media & Entertainment,TV broadcasting; TV station,Media & Entertainment; Media;Media;Entertainment,NaN,NaN,pol,74820000,207493,1957,zygmunt_solorz_zak
352366,358315,Zygmunt Solorz-Zak,Solorz-Zak,M,2022,Poland-Warsaw,Cyfrowy Polsat,Media & Entertainment,TV broadcasting; TV station,Media & Entertainment; Media;Media;Entertainment,NaN,NaN,pol,74820000,180887,1957,zygmunt_solorz_zak
352367,358316,Zygmunt Solorz-Zak,Solorz-Zak,M,2022,Poland-Warsaw,Cyfrowy Polsat,Media & Entertainment,TV broadcasting; TV station,Media & Entertainment; Media;Media;Entertainment,NaN,NaN,pol,74820000,231452,1957,zygmunt_solorz_zak
352368,358317,Zygmunt Solorz-Zak,Solorz-Zak,M,2022,Poland-Warsaw,Cyfrowy Polsat,Media & Entertainment,TV broadcasting; TV station,Media & Entertainment; Media;Media;Entertainment,NaN,NaN,pol,74820000,204986,1957,zygmunt_solorz_zak

In [30]:
l=[1,2,3]
l2=[1,2,3]
if l == l2:
    print('yes')